iframe {
    width: 100%;
    height: 20vh; /* Full viewport height */
    border: none;
}
/* Optional: for smaller screens, you can control the height */
@media (max-width: 768px) {
    iframe {
        height: 50vh; /* Half viewport height on smaller devices */
    }
}
/* Custom styles */
body {
    background-color: #f8f9fa; /* Light background */
    padding: 20px; /* Padding for the body */
    font-family: 'Arial', sans-serif; /* Font family */
}
h1 {
    font-size: 1.75rem !important; /* Main title size */
    color: #343a40 !important; /* Darker shade for main title */
    margin-bottom: 1.5rem !important; /* Spacing below main title */
    font-weight: 400 !important;
}
h2 {
    font-size: 1.75rem !important; /* Increased size for h2 */
    font-weight: 400 !important;
    color: #007bff !important; /* Bootstrap primary color */
    margin-top: 1.5rem !important; /* Top margin for spacing */
    border-bottom: 2px solid #007bff !important; /* Bottom border */
    padding-bottom: 0.5rem !important; /* Padding below heading */
}
h3 {
    font-size: 1.5rem !important; /* Increased size for h3 */
    font-weight: 400 !important; /* Normal font weight */
    color: #495057 !important; /* Darker shade for h3 */
    margin-top: 1rem !important; /* Top margin for spacing */
    margin-bottom: 0.5rem !important; /* Bottom margin for spacing */
}
pre {
    background-color: #e9ecef; /* Light grey background for code blocks */
    padding: 10px; /* Padding for code blocks */
    border-radius: 5px; /* Rounded corners for code blocks */
    overflow-x: auto; /* Allow horizontal scrolling for long lines */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
}
p {
    line-height: 1.6; /* Improved line height for readability */
}